.expanding-image {
    transition: transform 0.3s ease-in-out;
}

.expanding-image:hover {
    transform: scale(1.1); /* Adjust the scale factor as needed */
}

body{
    background: rgb(255, 255, 255);
}

.spinning-div {
    transition: transform 0.5s ease-in-out;
}

.spinning-div:hover {
    transform: scale(0.9);
}

